{{>layout/header}}

<h1> Anthem53's Tiny Notice Board Site </h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">

            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>

            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <a href="/user" class="btn btn-warning" role="button" style="display:inline-block; float:fight;">내가 쓴 글 보기</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>

            {{/userName}}

            <input type="text" name="searchContent" id="search-box" placeholder="검색창" value="">
            <a  type="button" class="btn btn-success active" id="btn-search">검색</a>


        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/inquiry/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}