{{>layout/header}}

<h1>게시글 열람</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}" readonly>
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content" readonly>{{post.content}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        {{#isAuthor}}
            <a href="/posts/update/{{post.id}}" role="button" class="btn btn-primary" >수정</a>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        {{/isAuthor}}
    </div>
    <br/>
    {{! 댓글 부분임}}
    <div class="card">
        <div class="card-header bi bi-chat-right-dots"> Write a Comment</div>
        {{! 댓글작성 부분}}
        <form>
            <input type="hidden" id="postsId" value="">
            {{#user}}
                <div class="card-body">
                    <textarea id="comment" class="form-control" rows="4" cols="10" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <div class="card-footer">
                    <button type="button" id="btn-comment-save"class="btn btn-outline-primary bi bi-pencil-square"> 등록</button>
                </div>
            {{/user}}
            {{^user}}
                <div class="card-body" style="font-size: small"><a href="/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.</div>
            {{/user}}
        </form>
    </div>



</div>

{{>layout/footer}}