{{>layout/header}}

<h1> Anthem53's Tiny Notice Board Site </h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">

            <a href="/" class="btn btn-info active" role="button"> 돌아가기 </a>
            <input type="text"  id="search-box" placeholder="검색창" value="{{searchContent}}">
            <button type="button" class="btn btn-success active" id="btn-search">검색</button>

        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/search/posts/inquiry/{{id}}?searchContent={{searchContent}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}